<%- include('../partials/head') %> <%- include('../partials/navigation') %>

<h1>Annonce numéro : <%= annonce._id %></h1>

<ul>
  <li>Titre : <%= annonce.titre %></li>
  <li>Description : <%= annonce.description %></li>
  <li>Adresse : <%= annonce.adresse %></li>
  <li>Code postal : <%= annonce.code_postal %></li>
  <li>Ville : <%= annonce.ville %></li>
  <li>Prix : <%= annonce.prix %></li>
  
</ul>